<div class="container my-5 animated fadeIn main">
  <div
    class="row m-1 p-2 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 pb-3">Sobre Nosotros</h1>
      <p class="lead">
        Bienvenida a Sofya, donde encontrarás las últimas tendencias en moda y
        diseño, así como prendas exclusivas y únicas para realzar tu estilo
        personal.
      </p>
      <p class="lead">
        En nuestra tienda creemos que la moda es una forma de expresión personal
        y cada mujer es única y especial. Por ello, nos esforzamos por ofrecer
        una amplia variedad de prendas que se ajusten a las necesidades y gustos
        de cada una de nuestras clientes. Nos aseguramos de que todas nuestras
        prendas sean de alta calidad y estén diseñadas para realzar la belleza
        natural de cada mujer.
      </p>
      <p class="lead">
        Nos enorgullece ofrecer un servicio al cliente excepcional y estamos
        siempre dispuestos a escuchar tus comentarios y sugerencias para poder
        mejorar nuestra tienda y seguir ofreciéndote lo mejor en moda femenina.
        ¡Gracias por visitar nuestra tienda y esperamos poder ayudarte a
        encontrar las prendas perfectas para ti!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <!-- <button
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
        >
          Primary
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Default
        </button> -->
      </div>
    </div>
    <div class="col-lg-5 offset-lg-0 p-0 overflow-hidden shadow-lg">
      <img
        class="rounded-lg-3"
        src="assets/page-example.png"
        alt=""
        width="720"
      />
    </div>
  </div>
</div>
