<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      <div class="col" *ngFor="let clothe of clothes">
        <a class="card mb-3 clothe" [routerLink]="[clothe.idx]">
          <div class="row g-0">
            <div class="col-md-7">
              <img
                [src]="clothe.imgs[0]"
                class="img-fluid rounded-start"
                [alt]="clothe.nameESP"
                loading="lazy"
              />
            </div>
            <div class="col-md-5">
              <div class="card-body">
                <h5 class="card-title">{{ clothe.nameESP }}</h5>
                <p class="card-text">{{ clothe.price | currency }}</p>
                <!-- <button
                  class="btn accent-color me-3"
                  [routerLink]="[clothe.idx]"
                >
                  Ver más
                </button> -->
                <button
                  class="btn whatsapp-accent"
                  (click)="askForProductWhatsApp(clothe.nameESP)"
                >
                  Consultar
                  <i class="bi bi-whatsapp ps-1"></i>
                </button>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
