div > .accent-color {
    background-color: #ffbf87;
}

div > .accent-color:hover {
    color: #fff;
}

.login {
  cursor: pointer;
}

@media (max-width: 767px) {
    .logo-container {
      display: none;
    }

    .newsletter-form {
      padding-top: 3rem;
    }
  }